*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
.body{
    background-color: black;
    font: 'Gill Sans';
}

.header{
    display:inline-block;
    margin-left: 15vw;
    margin-top: 10vh;
    padding: 10px;
    color:white;
    font-size: 50px;
    font-weight:100;
    font-family: 'Verdana';
    width: 35%;
    overflow: auto;
    text-shadow: 3px 3px grey;

}

.navbar{
    display: block;
    color: white;
    font-family: monospace;
    background-color: black;
    box-shadow: 2px 2px 8px black;
    margin-bottom: 2px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}

.navbar a {
    font-family: 'Segoe UI';
    font-weight: bold;
    color: beige;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
}

.navbar a:hover {
    box-shadow: 0px 2px whitesmoke;
    font-weight: bolder;
    transition: 0.5s;
    color:wheat;
}

.navbar a.active {
    color:blueviolet;
}

.container{
    width: 100%;
    height: 60%;
    background:linear-gradient(140deg,rgb(13, 131, 203) ,rgb(26, 50, 103),whitesmoke,rgb(108, 85, 177) (183,183,183));
    margin-bottom: 10px;
    animation:gradient 10s ease-in-out;
    background-size: 400% 400%;

}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.pagebreak{
    display: block;
    width: 100%;
    height: 8vh;
    background:linear-gradient(140deg,rgb(13, 131, 203) ,rgb(26, 50, 103),whitesmoke,rgb(108, 85, 177) (183,183,183));
    background-size: 300% 300%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentbox{
    padding: 20px;
    background-color:black;
    color:white;
    transition: 0.3s;
    width: 70%;
    border-radius: 5px;
    display: inline-block;
}

.subcontent{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    background-color:black;
    color:white;
    transition: 0.3s;
    width: 70%;
    display: inline-block;
    box-shadow:  3px 3px 3px 3px azure (255,217,0,0.625);
    border-radius: 10px;
    margin: 10px;
    height: max-content;
}

.contentbox h1{
    font-family:'Lucida Sans';
    font-size: 30px;
    color:white;
    background-color:orange;
    border-radius: 10px;
    border-style: double;
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40%;
    overflow: auto;
}

.contentbox h3{
    font-size: 18px;
    display: inline-block;
    color:white;
    font-family: fantasy;
    padding: 2px;
    padding-right: 5px;
    margin: 10px;
    width: 20vw;
    overflow: auto;
}

.input{
    padding: 2px;
    padding-right: 10px;
    margin-right: 10%;
    margin: 5px;
    width: 35%;
}

.contentbox:hover{
    transform: 0.4s;
    border: 2px solid grey;
    box-shadow: 8px 8px 15px grey;
    border-radius: 10px;
}

.content{
    padding-left: 10vw;
    padding-right: 10vw;
}

.button{
    align-self: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 14px;
    background-color: orange;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    padding: 12px;
    margin: 0px;
    width: fit-content;
}

.button:hover{
    cursor: pointer;
    box-shadow: 2px 2px grey;
    background-color: orange;
}

.footer{
    width:100%;
    display: block;
    color: white;
    font-family:'Times New Roman';
    font-size: 15px;
    font-style: normal;
    background-color: black;
    padding: 2px;
    margin-top: 2px;
}

.contentbox option{
    width: 80%;
}

@media screen  and (max-width:800px) {
    .container{
        width: 100%;
    }
    
}













